<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="headerMov">Update Movie</h1>
            <form role="form" ng-submit="submitForm()">
				<div class="form-group">
					<label for="movieName">
						Movie Name
					</label>
					<input type="text" class="form-control" id="movieName" ng-model="myMoviesList.MovieName"/>
				</div>
				<div class="form-group">					 
					<label for="movieGenre">
						Movie Genre
					</label>
					<input type="text" class="form-control" id="movieGenre" ng-model="myMoviesList.MovieGenre" />
				</div>
				<div class="form-group">					 
					<label for="movieReviews">
						Reviews
					</label><br/>
                    <textarea id="movieReviews" ng-model="myMoviesList.MovieReviews"></textarea>
                </div>
				<div class="form-group">
					<label>
						Rating
					</label><br/>
                    <input type="radio" ng-model="myMoviesList.MovieRating" name="movieRating" value="1"> 1
                    <input type="radio" ng-model="myMoviesList.MovieRating" name="movieRating" value="2"> 2
                    <input type="radio" ng-model="myMoviesList.MovieRating" name="movieRating" value="3"> 3
                    <input type="radio" ng-model="myMoviesList.MovieRating" name="movieRating" value="4"> 4
                    <input type="radio" ng-model="myMoviesList.MovieRating" name="movieRating" value="5"> 5
				</div> 
				<div class="addBt">
                    <button type="submit" class="btn btn-success form-group" >
                        Submit
                    </button>
				</div>
			</form>
		</div>
	</div>
</div>